<div class="character-container">
    <mat-form-field class="search-filter">
        <input matInput placeholder="Filter Characters..." [formControl]="characterFC">
    </mat-form-field>

    <button color="accent" mat-raised-button (click)="hideDetailsFn()">Hide Details</button>

    <mat-list *ngFor="let filteredCharacter of filteredCharacters">
        <mat-list-item>
          <div (click)="logSomething(filteredCharacter.name)">{{filteredCharacter.name}}</div>&nbsp;
          <div *ngIf="!hideDetails">Height: {{filteredCharacter.height}}cm</div>
        </mat-list-item>
    </mat-list>
</div>
