<div class="character-container">
    <mat-form-field class="search-filter">
        <input matInput placeholder="Filter Characters..." [formControl]="characterFC">
    </mat-form-field>

    <button color="accent" mat-raised-button (click)="hideDetailsFn()">Hide Details</button>

    <mat-list *ngFor="let character of filteredCharacters">
        <mat-list-item>
          <div (click)="logSomething(character)">{{character.name}}</div>&nbsp;
          <input [(ngModel)]="character.hair_color">&nbsp;
          <div>{{character.hair_color}}</div>&nbsp;
          <div *ngIf="!hideDetails">Height: {{character.height}}cm</div>
          <div *ngIf="!hideDetails">Today: {{today | date}}</div>
        </mat-list-item>
    </mat-list>
</div>
